<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <a href="/list/categories">Categories</a>
                    <span>{{genre}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Section Begin -->
<section class="product-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product__page__content">
                    <div class="product__page__title">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-6">
                                <div class="section-title">
                                    <h4 class="genre">{{genre}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    {{#each resList}}
                       <a href="/movie/review/{{this._id}}">

                <div class="col-lg-3 col-md-6 col-sm-6">

                  <div class="product__item" x-data="{bg: '{{imageTopic.[0]}}' }">
                  <div class="product__item__pic" @mouseover="bg = '{{imageTopic.[1]}}'"
                    @mouseout="bg = '{{imageTopic.[0]}}'"
                    x-bind:style="'background: url(' + bg + ') no-repeat center / cover;'" >

                      <div class="ep">{{episode}}</div>
                      <div class="comment">
                        <i class="fa fa-comments"></i> 11
                      </div>
                      <div class="view"><i class="fa fa-eye"></i> {{author}}</div>
                    </div>
                    <div class="product__item__text">
                      <ul>
                        <li>{{type}}</li>
                        <li>{{genre}}</li>
                      </ul>
                      <h5>
                        <a href="/{{_id}}">{{movieName}}</a>
                      </h5>
                    </div>
                  </div>
                </div>

              </a>
                    {{/each}}
                    </div>
                </div>
                <div class="product__pagination">
                    {{!-- <a href="/review" class="current-page">1</a>
                    <a href="/review">2</a>
                    <a href="/review">3</a>
                    <a href="/review">4</a>
                    <a href="/review">5</a>
                    <a href="/review"><i class="fa fa-angle-double-right"></i></a> --}}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
<script type="text/javascript">
    const element = document.querySelector(".product__pagination");
    let totalPages = {{ totalPage }};
    let page = {{ page }};
    let genre = document.querySelector(".genre").innerHTML.toLowerCase();

    createPagination(genre, totalPages, page);

    function createPagination(genre, totalPages, page) {
        let liTag = '';

        if (totalPages > 1 && page <= totalPages) {
            if (page != 1)
                liTag += `<a href="/list/categories?genre=${genre}&page=${page - 1}">Prev</a>`;

            liTag += `<a href="/list/categories?genre=${genre}&page=1">1</a>`;

            if (totalPages <= 4)
                for (let i = 2; i <= totalPages; i++)
                    liTag += `<a href="/list/categories?genre=${genre}&page=${i}">${i}</a>`;

            else {
                if (page <= 3) {
                    for (let i = 2; i <= Math.min(3, totalPages); i++)
                        liTag += `<a href="/list/categories?genre=${genre}&page=${i}">${i}</a>`;

                    if (page == 3) {
                        if (totalPages > 3) {
                            liTag += `<a href="/list/categories?genre=${genre}&page=4">4</a>`;
                        }
                    }

                    if (totalPages - 2 > 2) {
                        liTag += `<a>...</a>`;
                        liTag += `<a href="/list/categories?genre=${genre}&page=${totalPages}">${totalPages}</a>`;
                    }
                }

                else if (page > 3) {
                    liTag += `<a>...</a>`;

                    if (totalPages - page > 2) {

                        for (let i = page - 1; i <= page; i++) {
                            liTag += `<a href="/list/categories?genre=${genre}&page=${i}">${i}</a>`;
                        }
                        liTag += `<a href="/list/categories?genre=${genre}&page=${page + 1}">${page + 1}</a>`;
                        liTag += `<a>...</a>`;
                        liTag += `<a href="/list/categories?genre=${genre}&page=${totalPages}">${totalPages}</a>`;
                    }
                    else {
                        if (page == totalPages - 2) {

                            liTag += `<a href="/list/categories?genre=${genre}&page=${page - 1}">${page - 1}</a>`;
                        }

                        for (let i = totalPages - 2; i <= totalPages; i++) {
                            liTag += `<a href="/list/categories?genre=${genre}&page=${i}">${i}</a>`;
                        }
                    }

                }
            }

            if (page < totalPages)
                liTag += `<a href="/list/categories?genre=${genre}&page=${page + 1}">Next</a>`;
        }
        element.innerHTML=liTag

        currentPageElement=document.querySelectorAll(`a[href='/list/categories?genre=${genre}&page=${page}']`);
        currentPageElement[currentPageElement.length-1].className="current-page"
    }
</script>