<div class="main-panel">
    <div class="container rounded bg-white mb-5 mt-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" alt="profile-icon" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <span class="font-weight-bold">{{user.username}}</span>
                    <span class="text-black-50">{{user.email}}</span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    {{#if result}}
                        <label class="labels">Updating user's profile successfully!!!</label>
                    {{/if}}
                    <div><br></div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">User Profile</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Username</label>
                            <p>{{user.username}}</p></div>
                        <div class="col-md-6"><label class="labels">Password</label>
                            <p>**********</p></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Fully name</label>
                            <p>{{user.name}}</p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Status</label>
                            <p>
                                {{#if user.status}}
                                    normal
                                {{else}}
                                    banned
                                {{/if}}
                            </p>
                        </div>

                        <div class="col-md-12"><label class="labels">Email</label>
                            <p>{{user.email}}</p>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <a href="/user/editProfile/{{user._id}}"><button class="btn btn-primary profile-button" type="button"> Edit Profile</button></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 grid-margin stretch-card">
                <div class="col">
                    <div class="card">
                        <div class="card-body px-0 overflow-auto">
                            <h4 class="card-title pl-4">
                                Favorite movies
                                <button type="button" href="/form" class="btn btn-sm ml-3 btn-success"> Add Movie </button>
                            </h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="bg-light">
                                    <tr>
                                        <th>Movie</th>
                                        <th>Genre</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#each favoriteMovies}}
                                        <tr>
                                            <td>
                                                <a href="/movie/review/{{this._id}}">
                                                    <div class="d-flex align-items-center">
                                                        <img src="{{this.images.[0]}}" alt="image" style="width: 80px; height: 80px"/>
                                                        <div class="table-user-name ml-3">
                                                            <p class="mb-0 font-weight-medium"> {{this.movieName}} </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </td>
                                            <td>{{this.genre}}</td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            </div>
                            <a class="text-black mt-3 d-block pl-4" href="#">
                                <span class="font-weight-medium h6">View all movies</span>
                                <i class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-body px-0 overflow-auto">
                            <h4 class="card-title pl-4">
                                History
                            </h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="bg-light">
                                    <tr>
                                        <th>Movie</th>
                                        <th>Genre</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#each historyMovies}}
                                        <tr>
                                            <td>
                                                <a href="/movie/review/{{this._id}}">
                                                    <div class="d-flex align-items-center">
                                                        <img src="{{this.images.[0]}}" alt="image" style="width: 80px; height: 80px"/>
                                                        <div class="table-user-name ml-3">
                                                            <p class="mb-0 font-weight-medium"> {{this.movieName}} </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </td>
                                            <td>{{this.genre}}</td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            </div>
                            <a class="text-black mt-3 d-block pl-4" href="#">
                                <span class="font-weight-medium h6">View all history</span>
                                <i class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>